---
layout: default
title: About me
description: Professional Experiences
image: /assets/images/elvis.jpg
---
<div class="container">
  <section class="section">
    I'm an experienced software development and engineering professional with a strong focus 
    on cloud architecture and distributed software solutions. 
    My career includes roles such as full stack software engineer, head of desktop development, solutions architect, chief architect, and director of engineering. 
    Known for fostering collaboration and clear communication, I excel in guiding high-performing teams. 
    With deep expertise in software engineering, cloud technology, and Kubernetes, I have a proven track record of leading complex projects and driving technological innovation. 
    Your goal is to leverage your extensive experience and leadership skills to drive strategic growth within the Tech world.
  </section>

  <hr>

  <section class="section">
    <ul class="timeline timeline-split" itemscope itemtype="http://schema.org/ProfilePage">
      {% for experience in site.data.experiences %}
      {% if experience.break %}
      <li class="timeline-item period">
        <div class="timeline-info"></div>
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <h2 class="timeline-title">{{ experience.role }}</h2>
        </div>
      </li>
      {% else %}
      <li class="timeline-item">
        <div class="timeline-info">
          <span>{{ experience.started }}</span>
        </div>
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <h2 class="timeline-title">{{ experience.role }}</h2>
          <h5 class="timeline-title">
            {% if experience.website %}
            <a href="{{ experience.website }}" target="_blank" title=" {{ experience.company }}" rel="noopener noreferrer"> {{ experience.company }}</a>
            {% else %}
            <span>{{ experience.company }}</span>
            {% endif %}
            <span>- {{ experience.location }}</span>
          </h5>
          <p>
            <ul>
              {% for item in experience.content %}
              <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </p>
          {%- if experience.achievements -%}
          <i>Key Achievements</i>
          <p>
            <ul>
              {% for item in experience.achievements %}
              <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </p>
          {%- endif -%}
        </div>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </section>

  {%- include post-share.html -%}
</div>