---
layout: page
title: About me
description: Professional Experiences
image: /assets/images/elvis.jpg
---
<div class="timeline">
    <div class="outer">
      {% for experience in site.data.experiences %}
      <section class="card">
        <div class="info">
          <div class="title">
            <h2 class="role">{{ experience.role }} @ {{ experience.company }}</h2>
            <span class="tenure">{{ experience.tenure }}, </span>
            <span class="location">{{ experience.location }}</span>
          </div>
          <ul>
            {% for item in experience.content %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
      </section>
      {% endfor %}
    </div>
</div>
