---
layout: default
description: Welcome to my professional journey! This site shares my insights and experiences in software engineering, focusing on new technologies and innovative ideas.
image: /assets/images/banner-home.png
---
<img class="lazy" data-src="{{ '/assets/images/banner-home.png' | relative_url }}" alt="home" itemprop="image"/>

<section itemscope itemtype="http://schema.org/ProfilePage">

    <h1>👋 Hi! I'm Elvis</h1>

    <p>
        Thank you for visiting my personal site! I'm thrilled to share my journey with you. With over 20 years in the technology sector,
        my career has been a fascinating adventure in mastering how best to bridge the gap between complex cloud technologies 
        and practical business applications.
    </p>

    <p>
        I am passionate about transforming sophisticated software solutions into streamlined tools that enhance business efficiency 
        and productivity. This site is a canvas for my professional life, insights, and the lessons I've learned along the way. 
        It's where I reflect on my experiences and explore future possibilities in the ever-evolving world of technology.
    </p>

    <p>
        Through various leadership roles, I've had the privilege of steering innovative projects and guiding talented teams towards 
        creating software products that drive substantial value. Here, you’ll find case studies, personal reflections, and an overview 
        of the projects that have defined my career.
    </p>

    <p>
        I hope you find the contents of this site both informative and inspiring. If you have questions, are seeking advice, or just want 
        to share your thoughts, please don’t hesitate to reach out. 
        Let’s <a href="https://www.linkedin.com/in/elvishsu/" title="LinkedIn" target="_blank" rel="noopener noreferrer">connect</a> and explore how we can make the digital world 
        a better place together!
    </p>
</section>

<hr>

<section class="section no-paddings">
    <div class="section-head">
        <spa class="section-intro">About me</spa>
        <h2 class="section-title">What are my strengths?</h2>
    </div>
    <div class="feature-list">
        {% for feature in site.data.features %}
        <div class="feature-item">
            <div class="feature-wrapper bg-{{ feature.background }}">
                <div class="feature-icon">{{ feature.icon }}</div>
                <h2 class="feature-title">{{ feature.title }}</h2>
                <div class="feature-content">
                    <span>{{ feature.content }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<hr>

<section class="section">
    <div class="section-head">
        <spa class="section-intro">Blog posts</spa>
        <h2 class="section-title"> Check out the recent stories</h2>
    </div>
    <div class="carousel">
        {%- for post in site.posts limit: 9 -%}
        <div class="carousel-cell">
            {% include post-card.html post=post %}
        </div>
        {%- endfor -%}
    </div>
</section>

<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
    var elem = document.querySelector('.carousel');
    var flkty = new Flickity(elem, {
        groupCells: true,
        wrapAround: true,
        cellAlign: 'center',
        autoPlay: 3000,
        contain: true
    });
</script>