<link rel="apple-touch-icon"
      sizes="150x150"
      href="/assets/icon/apple-touch-icon.png" />
<link rel="icon"
      type="image/png"
      sizes="128x128"
      href="/assets/icon/favicon-128x128.png" />
<link rel="icon"
      type="image/png"
      sizes="64x64"
      href="/assets/icon/favicon-64x64.png" />
<link rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/icon/favicon-32x32.png" />
<link rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/icon/favicon-16x16.png" />
<link rel="manifest"
      href="/assets/icon/site.webmanifest" />
<meta name="msapplication-TileColor"
      content="#00a300" />
<meta name="theme-color"
      content="#ffffff" />