<footer class="site-footer">
    <div class="item">
      <h2>{{ site.title | escape }}</h2>
      <p>{{ site.description | escape }}</p>
    </div>
    <div class="item">
      <p>
        &copy; Copyright Elvis Hsu 
      </p>
      <p>
        Power by <a href="https://github.com/elvishsu66/elvishsu66.github.io" target="_blank">GitHub Pages</a>
        | <a href="{% link privacy.md %}">Privacy</a> 
        | <a href="{% link license.md %}">License</a></p>
    </div>
    <img class="hello" src="{{ '/assets/images/icon-logo-waving.png' | relative_url }}" alt="Logo"/>
</footer>
