<footer class="site-footer">
    <div class="site-footer-column">
      <p><a href="/" title="home"><strong>{{ site.title | escape }}</strong></a></p>
      <p><span>{{ site.description | escape }}</span></p>
    </div>
    <div class="site-footer-column">
      <p>
        <a class="fab fa-linkedin" href="https://linkedin.com/in/elvishsu/" target="_blank" title="Connect with me on LinkedIn"></a> 
        <a class="fab fa-github" href="https://github.com/elvishsu66" target="_blank" title="My GitHub Profile"></a> 
        <a class="fab fa-twitter" href="https://x.com/elvishsu" target="_blank" title="Follow me on X"></a> 
        <a class="fab fa-instagram" href="https://instagram.com/elvishsu66/" target="_blank" title="Follow me on Instagram"></a> 
        <a class="fa fa-rss" href="{% link feed.xml %}" target="_blank" title="RSS"></a> 
        | <a href="{% link privacy.md %}">Privacy</a> 
        | <a href="{% link license.md %}">License</a>
      </p>
      <p>
        <span>&copy; {{ site.time | date: '%Y' }} Elvis Hsu. All rights reserved. </span>
      </p>
    </div>
    <img class="hello" src="{{ '/assets/images/icon-logo-waving.png' | relative_url }}" alt="Logo"/>
</footer>
