<header class="site-header">
  <!-- Title -->
  <a href="{{ '/' | relative_url }}" title="Home">
    <img class="logo" src="{{ '/assets/images/icon-logo.webp' | relative_url }}" alt="Logo"/>
  </a>
  <a class="title" title="Home" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
  <!-- Hamburger icon -->
  <input class="side-menu" type="checkbox" id="side-menu"/>
  <label class="hamburger" for="side-menu"><span class="hamburger-line"></span></label>
  <!-- Menu -->
  <nav class="site-nav">
    <ul class="site-menu">
      {%- for nav in site.navigation -%} 
      <li aria-label="{{ page.url }}">
        <a href="{{ nav.url }}" {% if nav.url == page.url %} class="active"{% endif %}>
          {{ nav.title | capitalize }}
        </a> 
      </li>
      {%- endfor -%}
    </ul>
  </nav>
</header>
{%- if page.image -%}
{%- include banner.html -%}
{%- endif -%}