{% if site.related_posts.size >= 1 %}
<section class="section">
    <h2>In case you missed it</h2>
    <div class="post-list">
    {%- for post in site.related_posts limit: 3 -%}
    <div class="post-item" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-inner">
            <div class="post-thumbnail">
                <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
                    {%- if post.image -%}
                    <img class="lazy" data-src="{{ post.image }}" alt="{{ post.title }}" itemprop="image"/>
                    {%- elsif post.thumbnail -%}
                    <img class="lazy" data-src="{{ post.thumbnail }}" alt="{{ post.title }}" itemprop="image"/>
                    {%- else -%}
                    <img class="lazy" data-src="/assets/images/bg-blogging.png" alt="{{ post.title }}" itemprop="image"/>
                    {%- endif -%}
                </a>
            </div>

            <div class="post-meta">
                <div class="post-tags">
                    {%- assign tags = post.tags | sort -%}
                    {%- for tag in tags -%}
                    <a class="post-tag" title="{{ tag }}" href="{% link blog/topics.html %}#{{tag | uri_escape | downcase }}">
                        {{ tag | capitalize }}
                    </a>
                    {%- endfor -%}
                </div>
                <span class="post-date">
                    • 
                    <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                        {{ post.date | date: site.date_format }}
                    </time>
                </span>
            </div>

            <div>
                <a class="post-link" href="{{ post.url | relative_url }}" itemprop="name headline">
                    {{ post.title | escape }}
                </a>
            </div>
            
            <div class="post-content" itemprop="articleBody">
                {{ post.content | markdownify | strip_html | truncatewords: 25 }}
            </div>

            <div class="post-author">
                <a class="author" href="{% link about.html %}"></a>
                <span class="post-author-name">
                    By 
                    <a href="{% link about.html %}" itemprop="author publisher" itemscope itemtype="http://schema.org/Person">
                        <span itemprop="name">{{ site.author.name }}</span>
                        <span itemprop="url" hidden>{{ site.author.url }}</span>
                    </a>
                </span>

            </div>
        </div>
    </div>
    {%- endfor -%}
    </div>
</section>
{% endif %}