/**
 * Reset some basic elements
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
 /**
  * Basic styling
  */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-colour;
  background-color: $background-colour;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
      -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

img {
  max-width: 100%;
  vertical-align: middle;

  &.center {
  margin: 0 auto;
  display: block;
  }

  &.right {
  float:right;
  padding: 10px;
  }
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  clear: both;
}

a {
  color: $link-base-colour;
  text-decoration: none;
  font-weight: bold;

  &:visited {
    color: $link-visited-colour;
  }

  &:hover {
    color: $text-colour;
    text-decoration: underline;
  }
}

hr {
  border-top: 1px solid $link-base-colour;
  margin: $spacing-unit;
}

blockquote {
  color: $theme-colour;
  border-left: 4px solid $theme-colour;
  padding: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: $text-colour;
  border-collapse: collapse;
  tr {
    &:nth-child(even) {
      background-color: darken($background-colour, 3%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: $header-background-colour;
    color: $header-colour;
    border: 1px solid $header-background-colour;
  }
  td {
    border: 1px solid darken($background-colour, 10%);
  }

  @include media-query($on-laptop) {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
 
.wrapper {
  background-color: $background-colour;
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  padding-bottom: $spacing-unit / 2;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    padding-bottom: $spacing-unit;
  }
}
 
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}
