
$colors: (
    "pink": #d698b5,
    "purple": #848abd,
    "blue": #5ca7db,
    "green": #a4bf9e
);

.feature-list {
    display: flex;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .feature-item {
      padding: 1em;
      box-sizing: border-box;
      width: 50%;
      display: flex;
      color: $background-color;
      @include media-query($on-mobile) {
        padding: .5em;
        width: 100%;
      }
  
      .feature-wrapper {
        border-radius: 10px;
        padding: $spacing-unit;
        transform: scale(1);
        transition: transform .3s ease-out;
  
        &:hover {
          transform: scale(1.1);
          filter: brightness(110%);
        }
  
        .feature-icon {
          @include relative-font-size(3);
          text-align: center;
        }
  
        .feature-title {
          text-align: center;
        }
        
        .feature-content {
          @include relative-font-size(1);
        }
      }
    }

    @each $name, $code in $colors {
        .bg-#{$name} {
            background-color: $code;
        }
    }
}