/**
 * Site header
 */
.site-header {
  background-color: $brand-colour;
  color: $background-colour;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;

  a, nav {
    vertical-align: middle;
  }

  a.title {
    @include relative-font-size(1.3);
    font-weight: 400;
    letter-spacing: -1px;
    margin-bottom: 0;
    @include media-query($on-mobile) {
      @include relative-font-size(1.1);
    }
  
    &,
    &:visited {
      color: $background-colour;
    }
  }

  img.logo {
    width: 70px;
    border-radius: 50%;
    margin: 5px;
    padding: 3px;
    @include media-query($on-mobile) {
      width: 50px;
    }
  }
}
  
.site-nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: $brand-colour;
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s ease-out;

  .site-menu { 
    a {
      padding: 25px 25px;
      color: $background-colour;
      display: inline-block;
      width: 100%;
      &:hover{
        background-color: lighten($brand-colour, 20);
        text-decoration: none;
      }
    }
  }
}

/* Menu Icon */
.hamburger {
  cursor: pointer;
  float: right;
  padding: 25px 25px;
}

.hamburger-line {
  background: $background-colour;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;

  &::before{
    top: 5px;
  }
  &::after{
    top: -5px;
  }
  &::before, &::after {
    background: $background-colour;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
}

.side-menu {
  /* Hide checkbox */
  display: none;
  &:checked {
    ~ nav {
      max-height: 100vh;
      background-color: $brand-colour;
    }
    /* Toggle menu icon */
    ~ .hamburger {
      .hamburger-line {
        background: transparent;
        &::before {
          transform: rotate(-45deg);
          top:0;
        }
        &::after {
          transform: rotate(45deg);
          top:0;
        }
      }
    }
  }
} 

/* Responsiveness */
@media (min-width: $on-mobile) {
  .site-nav{
      max-height: none;
      top: 0;
      position: relative;
      float: right;
      width: fit-content;
      background-color: transparent;
  }
  .site-menu {
    li {
      float: left;
    }
    a:hover{
      background-color: transparent;
      color: $background-colour;
    }
  } 

  .hamburger{
    display: none;
  }
}

  
.site-banner {
  width: 100%;
  margin: 0 auto;
  padding: 2.5em 5em 1.6em .6em;
  box-sizing: border-box;
  background: $link-visited-colour url(/assets/images/rocket.png) 97% 70% no-repeat;
}
  
/**
  * Site footer
  */
.site-footer {
  position: relative;
  background-color: $brand-colour;
  color: $background-colour;
  display: flex;
  a {
    color: $background-colour;
    &:hover {
      color: darken($background-colour, 5);
    }
    &:visited {
      color: darken($background-colour, 2);
    }
  }
  .item {
    flex: 1;
    padding: 10px 25px;
  }

  img.hello {
    position: absolute;
    width: 150px;
    right: 0;
    top: -40px;
    @include media-query(932px) {
      // display: none;
      width: 80px;
      right: 0;
      top: -30px;
    }
  }

  @include media-query($on-mobile) {
    flex-direction: column;
    text-align: center;
    h2, p {
      margin-bottom: 5px;
    }
    .item {
      padding: 3px 5px;
    }
  }
}
  
  
  
/**
  * Page content
  */
.page-content {
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  >li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $brand-colour;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
  * Posts
  */
.post-nav {
  margin-bottom: $spacing-unit;
  @extend %clearfix;
}

.post-previous {
  float: left;
}

.post-next {
  float: right;
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }

  h6 {
    @include relative-font-size(1.0625);
  }

}


.media-list {
  display: table;
  margin: 0 auto;

  li {
    float: left;
    margin: 5px 10px 5px 0;

    &:last-of-type {
      margin-right: 0
    }

    a {
      display: block;
      padding: $spacing-unit / 4;
      border: 1px solid $brand-colour;
      border-radius: 20%;

      &:hover {
        border-color: lighten($brand-colour, 25%);

        .svg-icon {
          color: lighten($brand-colour, 25%);
        }
      }
    }
  }
}

  
/**
  * Pagination navbar
  */
.pagination {
  @extend .media-list;

  li {

    a,
    div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }

    div {
      display: block;
      padding: $spacing-unit / 4;
      border: 1px solid transparent;

      &.pager-edge {
        color: $brand-colour;
        border: 1px dashed;
        border-radius: 20%;
      }
    }
  }
}
