/**
* Custom
*/

.wrapper {
  background-color: $background-color;
  margin-right: auto;
  margin-left: auto;
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  padding-bottom: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-mobile) {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
  }
}
 
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.lazy {
  opacity: 0;
  transition: all .3s ease-in-out;
  &.loaded {
    opacity: 1;
  }
}

/**
 * Site header
 */
.site-header {
  background-color: $theme-color;
  color: $background-color;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;

  a, nav {
    vertical-align: middle;
  }

  a.title {
    @include relative-font-size(1.3);
    font-weight: $base-font-weight;
    letter-spacing: -1px;
    margin-bottom: 0;
    @include media-query($on-mobile) {
      @include relative-font-size(1.1);
    }
  
    &,
    &:visited {
      color: $background-color;
    }
  }

  img.logo {
    width: 70px;
    border-radius: 50%;
    margin: 5px;
    padding: 3px;
    @include media-query($on-mobile) {
      width: 50px;
    }
  }

  .site-nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: $theme-color;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
  
    .site-menu { 
      a {
        padding: 25px 1rem;
        color: $background-color;
        display: inline-block;
        width: 100%;
        &:hover{
          background-color: lighten($theme-color, 20);
          text-decoration: none;
        }
        &.active {
          color: $link-active-colour;
          font-weight: bold;
        }
      }
    }
  }
  
  /* Menu Icon */
  .hamburger {
    cursor: pointer;
    float: right;
    padding: 28px 28px;
  }
  
  .hamburger-line {
    background: $background-color;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
  
    &::before{
      top: 8px;
    }
    &::after{
      top: -8px;
    }
    &::before, &::after {
      background: $background-color;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
    }
  }
  
  .side-menu {
    /* Hide checkbox */
    display: none;
    &:checked {
      ~ nav {
        max-height: 100vh;
        background-color: $theme-color;
      }
      /* Toggle menu icon */
      ~ .hamburger {
        .hamburger-line {
          background: transparent;
          &::before {
            transform: rotate(-45deg);
            top:0;
          }
          &::after {
            transform: rotate(45deg);
            top:0;
          }
        }
      }
    }
  } 
  
  /* Responsiveness */
  @media (min-width: $on-mobile) {
    .site-nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .site-menu {
      li {
        float: left;
      }
      a:hover{
        background-color: transparent;
        color: $background-color;
      }
    } 
  
    .hamburger{
      display: none;
    }
  }
}

/**
* Site footer
*/
.site-footer {
  position: relative;
  background-color: $theme-color;
  color: $background-color;
  display: flex;
  @include relative-font-size(1);

  a {
    color: $background-color;
    &:hover {
      color: darken($background-color, 5);
    }
    &:visited {
      color: darken($background-color, 2);
    }
  }

  .site-footer-column {
    flex: 1;
    padding: 1rem 25px;

    p {
      margin-bottom: .4rem;
    }

    a, span {
      margin-right: .4rem;
    }

    a.fa, a.fab {
      text-decoration: none;
    }

    &:nth-child(odd) {
      text-align: right;
    }
  }

  img.hello {
    position: absolute;
    width: 150px;
    right: 0;
    top: -60px;
    @include media-query(932px) {
      width: 70px;
      right: 0;
      top: -35px;
    }
  }

  @include media-query($on-mobile) {
    flex-direction: column;
    h2, p {
      margin-bottom: 5px;
    }
    .site-footer-column {
      padding: 3px 5px;
      text-align: center;
      &:nth-child(odd) {
        text-align: center;
      }
    }
  }
}

/**
* Page banner
*/
.page-banner {
  position: relative;
  padding: ($spacing-unit * 3) 0 ($spacing-unit * 3);
  text-align: center;
  color: $header-color;

  @include media-query($on-mobile) {
    padding: ($spacing-unit * 1.5) 0 ($spacing-unit * 1.5);
    margin-bottom: $spacing-unit / 4;
  }

  .page-banner-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page-banner-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(19, 41, 48, .75);
  }

  .page-banner-text {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    max-width: $content-width;
    @include media-query($on-mobile) {
      max-width: $on-mobile * 0.7;
    }
  }
}

/**
* Page content
*/
.page-content {
  flex: 1;
}

/**
* The post list cards
*/
.post-list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: $spacing-unit;

  .post-item {
    width: calc(4 / 12* 100%);
    display: flex;
    flex-direction: column;

    &:nth-child(3):last-child {
      flex-grow: 1;
    }

    .post-card {
      flex: 1;
      display: flex;
      flex-direction: column;
      max-width: 100%;
      padding: .5em;
    }
  
    @include media-query($on-tablet) {
      width: calc(6 / 12* 100%);
    }

    @include media-query($on-mobile) {
      width: 100%;
    }
  }
}

.post-card {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;

  a {
    color: $text-color;
  }

  .post-thumbnail {
    border-radius: 1rem;
    border: 1px solid darken($background-color, 5%);
    background-color: darken($background-color, 10%);
    overflow: hidden;
    text-align: center;

    img {
      aspect-ratio: 3/2;
      width: 100%;
      height: 100%; 
      object-fit: cover;
      transition: all .3s ease-in-out;
      transform: scale(1.1);
      opacity: .8;

      &:hover {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  .post-meta {
    margin-top: 2em;
  }

  .post-content {
    flex: 1;
    color: lighten($theme-color, 40%);
    @include relative-font-size(.888888);
  }
}


.post-categories, .post-tags {
  display: inline-flex;
  align-items: center;
  .post-category, .post-tag {
    flex: 0 0 auto;
    padding: .3rem 1rem;
    margin-right: .3rem;
    border-radius: 5px;
    color: $text-color;
    background-color: darken($background-color, 10%);
    font-weight: 500;
    font-size: 12px;
  }
}


.post-date {
  display: flex;
  align-items: center;
  time {
    text-transform: uppercase;
    margin-left: 6px;
    font-size: 12px;
    line-height: 1;
  }
}


.post-author {
  margin-top: 1rem;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  @include relative-font-size(.8);
  
  a.author {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: url(/assets/images/elvis-head.jpg);
    background-color: darken($background-color, 10%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .post-author-name {
    display: inline-block;
    margin-left: .8em;
    a {
      font-weight: 700;
    }
  }
}


.post-meta {
  color: lighten($theme-color, 40%);
  display: flex;
  margin: 1rem 0;
}


.post-link {
  display: block;
  font-weight: bold;
  margin-bottom: .7rem;
  @include relative-font-size(1.3);
}


/**
* The post body
*/
.post-body {
  /**
  * Posts
  */
  .post-nav {
    @extend %clearfix;
  }

  .post-previous {
    float: left;
  }

  .post-next {
    float: right;
  }

  .post-title,
  .post-content h1 {
    letter-spacing: -1px;
    line-height: 1.15;

    @include relative-font-size(2.625);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2.625);
    }
  }

  .post-content {
    h2 {
      @include relative-font-size(1.75);

      @media screen and (min-width: $on-large) {
        @include relative-font-size(2);
      }
    }

    h3 {
      @include relative-font-size(1.5);

      @media screen and (min-width: $on-large) {
        @include relative-font-size(1.625);
      }
    }

    h4 {
      @include relative-font-size(1.25);
    }

    h5 {
      @include relative-font-size(1.15);
    }

    h6 {
      @include relative-font-size(1.0625);
    }

    img {
      border-radius: 1rem;
      overflow: hidden;
      display: inline-flex;
      transition: transform .5s;
      object-fit: cover;
      opacity: 0.8;
      text-align: center;
      &:hover {
        opacity: 1;
        transform: scale(1.02);
      }
    }

    iframe, img {
      padding: $spacing-unit / 4;
    }

    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }

    li {
      list-style-position: inside;
      margin-bottom: .5rem;
    }

    .table-wrapper {
      display: block;
      width: 100%;
      overflow-x: auto;
    }

    .js-reframe {
      border-radius: 1rem;
      overflow: hidden;
    }
  }
}


.post-pager {
  margin-top: $spacing-unit;
  justify-content: center !important;

  .pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
    padding: 0;

    ul {
      display: flex;
    }

    li {
      text-decoration: none;
      border: 1px solid $link-base-color;
      border-right: none;
      text-align: center;
      vertical-align: middle;

      &.active {
        span {
          padding: 8px 12px;
          background-color: $link-base-color;
          color: $background-color;
        }
      }

      span {
        display: block;
        color: $text-color;
        text-decoration: none;
      }

      a {
        padding: 8px 12px;
        display: block;
        color: $link-base-color;
        text-decoration: none;
        &:hover {
          background-color: lighten($link-base-color, 10%);
          color: $background-color;
        }
      }

      &:first-of-type {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &:last-of-type {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: 1px solid $link-base-color;
      }
    }
  }
}


.container {
  padding: $spacing-unit 0;

  .topics {
    ul {
      list-style-type: disc;
    }

    li {
      list-style-position: inside;
      margin-bottom: .5rem;
    }
  }
}

.no-paddings {
  padding: 0px !important;
}

.section {
  padding: 0 $spacing-unit;

  @include media-query($on-mobile) {
    padding: 0 $spacing-unit / 8;
    @include relative-font-size(1);
  }

  .section-head {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .section-intro {
    text-transform: uppercase;
    color: lighten($text-color, 20%);
    margin-bottom: $spacing-unit / 2;
    font-weight: 500;
  }
  
  .section-title {
    font-size: 40px;
  }
}


.search {
  &[hidden="true"] { 
    display: none 
  }
  z-index: 1000;
  position: fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background:rgba(255,255,255,0.98);
  text-align: left;
  
  display: flex;
  justify-content: center;

  .search-wrapper {
    position: relative;
    padding: $spacing-unit;
    max-height: 100%;
    max-width: $content-width;
    width: 100%;
    overflow: auto;

    .search-container {
      max-height: 100%;
      padding: .5em;
      display: flex;
      border: none;
      border-bottom: 3px solid $theme-color;

      input, button {
        border: none;
        background: transparent;
      }

      button {
        cursor: pointer;
        transition: all .25s ease-in-out;
        @include relative-font-size(2.2);
        &:hover {
          transform: rotate(90deg);
          color: $link-base-color;
        }
      }
  
      input[type='text'] {
        flex: 1;
        width: 100%;
        padding: .5em .2em;
        @include relative-font-size(1.5);
      }
    }
    
    .post-thumbnail {
      img {
        transition: transform .5s;
      }
    }

    .post-list {
      overflow: auto;
    }

    @include media-query($on-mobile) {
      width: 100%;
      margin: 0 auto;
      padding: .5em;
    }
  }
}


.highlight {
  border-radius: 8px;
}
