/* Timeline Container */
.timeline {
    margin: ($spacing-unit / 2) auto;
    padding: ($spacing-unit / 2);
    ol, ul {
        margin: 0 $spacing-unit;
        padding: ($spacing-unit / 2);
    }
    li {
        list-style-type: '► '
      }
}

/* Card container */
.card {
    position: relative;
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    /* setting padding based on even or odd */
    &:nth-child(odd) {
        padding: $spacing-unit 0 $spacing-unit $spacing-unit;
    }
    &:nth-child(even) {
        padding: $spacing-unit $spacing-unit $spacing-unit 0;
    }

    /* Global ::before */
    &::before {
        content: "";
        position: absolute;
        width: 50%;
        border: solid $link-base-colour;
    }

    /* Setting the border of top, bottom, left */
    &:nth-child(odd)::before {
        left: 0px;
        top: -4.5px;
        bottom: -4.5px;
        border-width: 5px 0 5px 5px;
        border-radius: 50px 0 0 50px;
    }

    /* Setting the border of top, bottom, right */
    &:nth-child(even)::before {
        right: 0;
        top: 0;
        bottom: 0;
        border-width: 5px 5px 5px 0;
        border-radius: 0 50px 50px 0;
    }

    /* Removing the border if it is the first card */
    &:first-child::before {
        border-top: 0;
        border-top-left-radius: 0;
    }

    /* Removing the border if it is the last card  and it's odd */
    &:last-child:nth-child(odd)::before {
        border-bottom: 0;
        border-bottom-left-radius: 0;
    }

    /* Removing the border if it is the last card  and it's even */
    &:last-child:nth-child(even)::before {
        border-bottom: 0;
        border-bottom-right-radius: 0;
    }


    /* Information about the timeline */
    .info {
        display: flex;
        flex-direction: column;
        background: lighten($theme-colour, 5%);
        color: $background-colour;
        border-radius: $spacing-unit;
        padding: 10px;
    }

    /* Title of the card */
    .title {
        padding: 0 $spacing-unit;
        h2, h3 {
            color: $link-base-colour;
            margin-bottom: .2em;
        }
        span {
            @include relative-font-size(.85);
        }
    }

    /* Timeline dot  */
    .title::before {
        content: "";
        position: absolute;
        width: $spacing-unit;
        height: $spacing-unit;
        background: white;
        border-radius: 999px;
        border: 5px solid $link-base-colour;
    }

    /* text right if the card is even  */
    &:nth-child(even) > .info > .title {
        text-align: right;
    }

    /* setting dot to the left if the card is odd */
    &:nth-child(odd) > .info > .title::before {
        left: -20px;
    }

    /* setting dot to the right if the card is odd */
    &:nth-child(even) > .info > .title::before {
        right: -20px;
    }
}

