@charset "utf-8";

$theme-color: #000000;
$primary-color: $theme-color;
$text-color: #111111;
$gutter-color: #303030;
$background-color: #ffffff;
$header-color: $background-color;
$header-background-color: $theme-color;

$link-base-color: #219ebc;
$link-visited-colour: darken($link-base-color, 15%);
$link-active-colour: lighten($link-base-color, 5%);

$code-background-colour: #1e1e1e;
$code-foreground-colour: #d4d4d4;

$base-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-size: 18px;
$base-line-height: 1.6;
$base-font-weight: 400;
$small-font-size: 0.7rem;

$spacing-unit: 2rem;

// Width of the content area
$content-width: 1280px;

$on-mobile: 768px;
$on-tablet: 1024px;
$on-laptop: 1900px;

$on-medium: $on-mobile;
$on-large: $on-laptop;

@import "mixins", "layout", "base", "timeline", "syntax", "home", "animation", "carousel";
