@charset "utf-8";

$brand-color:           #030000;
$text-color:            #070606;
$gutter-color:          #131313;
$background-color:      #faf7f7;

$link-base-color:       #010427;
$link-visited-color:    darken($link-base-color, 15%);

$table-text-color:      lighten($text-color, 20%);
$table-zebra-color:     lighten($background-color, 7%);
$table-header-bg-color: lighten($background-color, 12%);
$table-header-border:   #ccc;
$table-border-color:    #666;

$base-font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$table-text-align: left;

// Width of the content area
$content-width:    1024px;

$on-palm:          600px;
$on-laptop:        1024px;

$on-medium:        $on-palm;
$on-large:         $on-laptop;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}

@import "fonts", "code", "layout", "base";