@charset "utf-8";

$brand-colour:           #000000;
$text-colour:            #111111;
$gutter-colour:          #303030;
$background-colour:      #ffffff;

$link-base-colour:       #5aadbb;
$link-visited-colour:    darken($link-base-colour, 15%);

$table-text-colour:      lighten($text-colour, 20%);
$table-zebra-colour:     lighten($background-colour, 7%);
$table-header-bg-colour: lighten($background-colour, 12%);
$table-header-border:    #ccc;
$table-border-colour:    #666;

$base-font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   1.1em;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$table-text-align: left;

// Width of the content area
$content-width: 1024px;

$on-mobile: 768px;
$on-laptop: 1600px;

$on-medium:        $on-mobile;
$on-large:         $on-laptop;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}

@import "fonts", "code", "layout", "base", "timeline";