---
layout: page
---
<div class="post">
    <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
            <span class="post-title p-name" itemprop="name headline" hidden>
                {{ page.title | escape }}
            </span>
            <div class="post-meta">
                <div class="avatar">
                    <a href="{% link about.html %}">
                        <i class="author"></i>
                    </a>
                </div>
                <div class="meta">
                    <div class="item">
                        <a href="{% link about.html %}" itemprop="author publisher" itemscope itemtype="http://schema.org/Person">
                            <span itemprop="name">{{ site.author.name }}</span>
                            <span itemprop="url" hidden>{{ site.author.url }}</span>
                        </a>
                        {% if page.tags %}
                        posted in 
                        {% for tag in page.tags %}
                        <a href="{% link blog/topics.html %}#{{tag | uri_escape | downcase }}">{{ tag | capitalize }}</a>
                        {%- if forloop.last == false %}, {% endif -%}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <time class="item dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        {{ page.date | date: site.date_format }}
                    </time>
                </div>
            </div>
        </header>

        <div class="post-content e-content" itemprop="articleBody">
            {{ content }}
        </div>

        {%- if site.disqus.shortname -%}
        {%- include disqus.html -%}
        {%- endif -%}

        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
        <img src="{{ page.image }}" itemprop="image" alt="{{ page.title | escape }}" hidden/>
    </article>
</div>