---
layout: page
---
<div class="post">
    <div class="post-nav">
        {%- if page.previous -%}
        <span class="post-previous">
            <a href="{{ page.previous.url }}"
            rel="prev">⇦ Previous Post</a>
        </span>
        {%- endif -%}
        {%- if page.next -%}
        <span class="post-next">
            <a href="{{ page.next.url }}"
            rel="next">Next Post ⇨</a>
        </span>
        {%- endif -%}
    </div>

    <article class="post h-entry"
            itemscope
            itemtype="http://schema.org/BlogPosting"
            >
        <header class="post-header">
            <h1 class="post-title p-name" itemprop="name headline">
                {{ page.title | escape }}
            </h1>
            <p class="post-meta">
                <time class="dt-published"
                      datetime="{{ page.date | date_to_xmlschema }}"
                      itemprop="datePublished">
                    {{ page.date | date: site.date_format }}
                </time>
                {%- if page.tags -%}
                • Posted in
                {% for tag in page.tags %}
                <a href="{% link blog/topics.html %}#{{tag | uri_escape | downcase }}">
                    {{ tag | capitalize }}
                </a>
                {%- if forloop.last == false %}, {% endif -%}
                {% endfor %}
                {%- endif -%}
            </p>
        </header>

        <div class="post-content e-content" itemprop="articleBody">
            {{ content }}
        </div>

        {%- if site.disqus.shortname -%}
        {%- include disqus_comments.html -%}
        {%- endif -%}

        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
        <div itemprop="author publisher" itemscope itemtype="http://schema.org/Person" hidden>
            <data itemprop="name">{{ site.author.name }}</data>
            <data itemprop="url">{{ site.author.url }}</data>
        </div>
        <img src="{{ page.image }}" itemprop="image" alt="{{ page.title | escape }}" hidden/>
    </article>
</div>